* {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  margin-bottom: 0 !important;
}

.ant-layout {
  background-color: transparent !important;
}

.ant-select {
  display: block !important;
}

.ant-btn + .ant-btn {
  margin-left: 8px;
}

.input-wrap {
  margin-bottom: 16px;
}

.input-wrap label > span {
  cursor: pointer;
}

.input-wrap_select label,
.input-wrap label span {
  display: inline-block;
  margin-bottom: 4px;
}

.page-wrap {
  display: grid;
  gap: 8px;
  padding: 30px 20px;
}

.section-wrap {
  padding: 30px 24px;
  max-width: 400px;
  background-color: #f4f9fc;
  border-radius: 12px;
}

.text_info {
  font-size: 20px
}